<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVW427DmnzHLp4TN2dFBTXIvb98jL_hz0</string>
	<key>GCM_SENDER_ID</key>
	<string>606215810998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.afpteam.Swifty</string>
	<key>PROJECT_ID</key>
	<string>swifty-a712c</string>
	<key>STORAGE_BUCKET</key>
	<string>swifty-a712c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606215810998:ios:acd144e47485c1caad1b17</string>
</dict>
</plist>